body{    
/*    max-width: 1281px;*/
    margin: 0 auto;
}

header{
    background-color:black;
}

header img:hover{
    transform: rotateY(360deg);
}

.bodypos{
    margin: 0 0 0 0;
}

.inner {
    width: 980px;
    margin: 0 auto;
}
.inner:after {
    content: "";
    clear: both;
    display: block;
}
 
/* header */
#top-head {
    top: -63px;
    position: relative;
    width: 100%;
    margin: 100px auto 0;
    padding: 30px 0 0;
    line-height: 1;
    z-index: 999;
}
#top-head a,
#top-head {
    color: #fff;
    text-decoration: none;
}
#top-head .inner {
    position: relative;
}
#top-head .logo {
    float: left;
    font-size: 36px;
}
#global-nav ul {
    list-style: none;
    position: absolute;
    right: 149px;
    bottom: 64px;
    font-size: 22px;
}
#global-nav ul li {
    float: left;
    margin: 0px -14px 0px -14px;
}

#global-nav ul li a {
    padding: 0 30px;
    transition: all 0.2s ease-in;
}

#global-nav ul li a:hover{
    color: rgba(180, 149, 0, 1);
}
 
 
 
/* Toggle Button */
#nav-toggle {
    display: none;
    position: absolute;
    right: 12px;
    top: 14px;
    width: 34px;
    height: 36px;
    cursor: pointer;
    z-index: 101;
}
#nav-toggle div {
    position: relative;
}
#nav-toggle span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #666;
    left: 0;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
    top: 0;
}
#nav-toggle span:nth-child(2) {
    top: 11px;
}
#nav-toggle span:nth-child(3) {
    top: 22px;
}

.logo-mobile{
    display: none;
}

footer{
    margin: 0 0 0px 0;
    padding: 14px 0 1px 0;
    background-color:black;
    color: white;
    text-align: center;
    clear: both;
}

a{
    text-decoration: none;
    color: white;
}

#icon{
    position: absolute; top: 112px;right: 5px;
}

#mainpos{
    margin-top:-16px;
}

h1{
    margin: 0 0 0 0;
    padding: 20px 0;
    text-align: center;
    font-family: Bookman, serif;
    font-weight: 500;
    font-size: 85px;
}

h2{
   font-family: Bookman, serif; 
    margin-bottom: 17px;
    font-size: 30px;
}

p{
    margin: 0px 0px 4px 0px;
}

.owner{
    float: left;
    margin:0;
    height: 100%;
}

.intro{
    background-color:black;
    color: white;
    width:100%;
    height: 280px;
    margin: 0;
    /*overflow: scroll;*/
}

/*.logo2{
    float:right;
    width: 35%;
    position: relative;
    left: 167px;
    margin: 92px 0 0 0;
    display: table;
}*/

.picleft{
    float: left;
    margin: 26px 0 0 28px;
}

.pg{
    margin: 14px 25px 13px 227px;
    padding: 0px;
    font-size: 18px;
}

.pg > p{
    margin-bottom: 5px;
}

#picpos{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.movie{
    clear: both;
    margin: 0 0 0 0;
    background-color: black;
    width: 100%;
    height: 779px;
}

/*.movie-left > iframe{
    width: 70%;
    height: 70%;
}

.movie-right > iframe{
    width: 70%;
    height: 70%;
}*/

.movie-left{
    margin: 0;
    width: 50%;
    float: left;
}

.movie-right{
    margin: 0;
    width: 50%;
    float: right;
}

.mov-pg{
    margin: 0 0 0 0;
    padding: 74px 36px 60px 37px;
    color: white;
    line-height: 21px;
}

.mov-pg > h2{
    font-size: 30px;
}

.mov-pg > p{
    font-size: 15px;
    line-height: 20px;
}

.movie-left > iframe{
    margin: 76px 0 0 41px;
}

.movie-right > iframe{
    margin: 0 0 0 42px;
}

.point{
    font-weight: 500;
    font-size: 30px;
    line-height: 1;
    margin: 10px 0;
    padding: 10px;
}

.join{
    margin: 0 0 0 0;
    padding: 10px 0;
}

.toContact{
    padding: 20px 400px 20px 400px;
    transition: all 0.2s ease-in;
}

.toContact:hover{
    color: rgba(180, 149, 0, 1);
}

.join > a{
    color: black;
}

.footp{
    margin-bottom: 20px;
}