body{
    margin: 0px auto;
    max-width: 1235px;
}

header{
    background-color:black;
}

header img{
    transform: rotateY(0deg);
    transition: all 1s ease-out 0s;
}

header img:hover{
    transform: rotateY(360deg);
}

footer{
    margin: 0 0 0px 0;
    padding: 14px 0 1px 0;
    background-color:black;
    color: white;
    text-align: center;
    clear: both;
}

a{
    text-decoration: none;
    color: white;
}

#menupos{
    position: relative; top:-12px;
    margin: 16px 0;
}

.headerlist{
    display: inline;
    font-size: 24px;
    padding: 5px;
    margin:0 10px;
    text-align: center;
    font-family: cursive;
}

.headerlist:hover{
    border-bottom: 2px solid white;
}

#icon{
    position: fixed;bottom: 5px;right: 5px;
}

#mainpos{
    margin-top:-16px;
}

h1{
    margin: 0 0 0 0;
    padding: 20px 0;
    text-align: center;
    font-family: cursive;
    font-weight: 500;
    font-size: 85px;
}

h2{
   font-family: cursive; 
    margin-bottom: 17px;
    font-size: 30px;
}

p{
    margin: 0px 0px 4px 0px;
}

#owner{
    float: left;
    margin:0;
    height: 100%;
}

.intro{
    background-color:black;
    color: white;
    width:100%;
    height: 280px;
    margin: 0;
    overflow: scroll;
}

/*.logo2{
    float:right;
    width: 35%;
    position: relative;
    left: 167px;
    margin: 92px 0 0 0;
    display: table;
}*/

.picleft{
    float: left;
    margin: 26px 0 0 28px;
}

.pg{
    margin: 14px 25px 13px 227px;
    padding: 10px auto;
    font-size: 16px;
}

.pg > p{
    margin-bottom: 5px;
}

#picpos{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.movie{
    margin: 0 0 0 0;
    background-color: black;
    width: 100%;
}

.movie > iframe:nth-child(odd){
    float:left;
}

.movie > iframe:nth-child(even){
    float:right;
}

.detail{
    margin: 0px 0px 0px 24px;
    padding: 8px 22px 22px 642px;
    background-color: black;
    color: white;
}

.detail2{
    margin: -34px 644px -364px 0px;
    padding: 70px 27px 33px 28px;
    background-color: black;
    color: white;
}

.detail > h2{
    font-size: 30px;
}

.point{
    font-weight: 500;
    font-size: 22px;
    margin: 10px 0;
    padding: 10px;
}

.detail > p{
    line-height: 21px;
}

.detail2 > p{
    line-height: 21px;
}

.join{
    margin: 364px 0 0 0;
    padding: 10px 0;
}

.toContact{
    padding: 20px 400px 20px 400px;
}

.join > a{
    color: black;
}

.footp{
    margin-bottom: 20px;
}